{% extends 'student/base.html' %}

{% block content %}

<div class="scan-header">

    <a href="/student/home" class="back-btn">
        <i class="fa-solid fa-chevron-left"></i>
    </a>

    <h3>Attendance Records</h3>

</div>

<p class="scan-subtitle">
    Your attendance history
</p>

<div class="stats-card">

    <div>
        <h4>{{ records|length }}</h4>
        <span>Total Records</span>
    </div>

    <i class="fa-solid fa-calendar-check"></i>

</div>

<div class="records-container">

{% for r in records %}

<div class="record-modern-card">

    <div class="record-top">

        <div>

            <h4>{{ r.date }}</h4>

            <small>
                {{ r.time }}
            </small>

        </div>

        <span class="present-badge">
            {{ r.status }}
        </span>

    </div>

    <div class="record-details">

        <div>
            <i class="fa-solid fa-face-smile"></i>
            {{ r.liveness }}
        </div>

        <div>
            <i class="fa-solid fa-eye"></i>
            {{ r.attention }}
        </div>

    </div>

</div>

{% else %}

<div class="empty-card">

    <i class="fa-solid fa-folder-open"></i>

    <h4>No Records Found</h4>

    <p>
        Attendance records will appear here
    </p>

</div>

{% endfor %}

</div>

{% endblock %}